<div *ngIf="!reservation">
  <h2 class="mb-4 mt-4">Not Found</h2>
</div>

<div *ngIf="reservation">
  <form role="form" #f="ngForm" (ngSubmit)="f.form.valid && updateReservation()">
    <div class="row">
      <div class="col-xs-6">
        <label for="id" class="h2 me-4 mb-2 mt-4 form-label">Reservation ID:</label>
        <input class="w-50" id="id" name="id" [(ngModel)]="reservation.id" readonly>
      </div>
    </div>
    <hr>
    <!-- Row #1 -->
    <div class="row">
      <div class="col-sm-2 mb-3"> <!-- Reservation Date -->
        <label for="reservationDate" class="form-label">Reservation Date
          <span class="text-danger" *ngIf="reservationDate.invalid && f.submitted">**</span>
        </label>
        <input 
          type="date" 
          [(ngModel)]="reservation.reservationDate"
          [ngClass]="{'invalid-data': reservationDate.invalid && f.submitted, 'valid-data': reservationDate.valid && f.submitted}"
          required
          name="reservationDate"
          #reservationDate="ngModel"
          class="form-control" 
          id="reservationDate" 
        />
      </div>
      <div class="col-sm-3 mb-3"> <!-- Reference -->
        <label for="reference" class="form-label">Reference
          <span class="text-danger" *ngIf="reference.invalid && f.submitted">**</span>
        </label>
        <input 
          type="text" 
          [(ngModel)]="reservation.reference" 
          [ngClass]="{'invalid-data': reference.invalid && f.submitted, 'valid-data': reference.valid && f.submitted}" 
          required
          minlength="10"
          name="reference" 
          #reference="ngModel" 
          class="form-control" 
          id="reference" 
        />
      </div>
      <div class="col-sm-3 mb-3"> <!-- Guest Name -->
        <label for="guestName" class="form-label">Guest Name
          <span class="text-danger" *ngIf="guestName.invalid && f.submitted">**</span>
        </label>
        <input 
          type="text" 
          [(ngModel)]="reservation.guestName"
          [ngClass]="{'invalid-data': guestName.invalid && f.submitted, 'valid-data': guestName.valid && f.submitted}"
          required
          name="guestName"
          #guestName="ngModel" 
          class="form-control" 
          id="guestName" 
        />
      </div>
    </div>
    <!-- Row #2 -->
    <div class="row">
      <div class="col-sm-2 mb-3"> <!-- Room Type -->
        <label for="roomType" class="form-label">Room Type
          <span class="text-danger" *ngIf="roomType.invalid && f.submitted">**</span>
        </label>
        <select 
          class="form-select form-control" 
          [(ngModel)]="reservation.roomType"
          [ngClass]="{'invalid-data': roomType.invalid && f.submitted, 'valid-data': roomType.valid && f.submitted}"
          required
          name="roomType" 
          #roomType="ngModel"
          id="roomType" 
        >
          <option value="DOUBLE_ROOM">Double Room</option>
          <option value="TRIPLE_ROOM">Triple Room</option>
          <option value="JUNIOR_SUITE">Junior Suite</option>
        </select>
      </div>
      <div class="col-sm-2 mb-3"> <!-- Check-in -->
        <label for="checkIn" class="form-label">Check-in
          <span class="text-danger" *ngIf="checkIn.invalid && f.submitted">**</span>
        </label>
        <input 
          type="date" 
          [(ngModel)]="reservation.checkIn"
          [ngClass]="{'invalid-data': checkIn.invalid && f.submitted, 'valid-data': checkIn.valid && f.submitted}"
          required
          name="checkIn"
          #checkIn="ngModel"
          class="form-control" 
          id="checkIn" 
        />
      </div>
      <div class="col-sm-2 mb-3"> <!-- Check-out -->
        <label for="checkOut" class="form-label">Check-Out
          <span class="text-danger" *ngIf="checkOut.invalid && f.submitted">**</span>
        </label>
        <input 
          type="date" 
          [(ngModel)]="reservation.checkOut"
          [ngClass]="{'invalid-data': checkOut.invalid && f.submitted, 'valid-data': checkOut.valid && f.submitted}"
          required
          name="checkOut" 
          #checkOut="ngModel"
          class="form-control" 
          id="checkOut" 
        />
      </div>
      <div class="col-sm-2 mb-3"> <!-- Total Price -->
        <label for="totalPrice" class="form-label">Total Price
          <span class="text-danger" *ngIf="totalPrice.invalid && f.submitted">**</span>
        </label>
        <input 
          type="number" 
          [(ngModel)]="reservation.totalPrice"
          [ngClass]="{'invalid-data': totalPrice.invalid && f.submitted, 'valid-data': totalPrice.valid && f.submitted}"
          required
          min="0"
          name="totalPrice" 
          #totalPrice="ngModel"
          class="form-control" 
          id="totalPrice" 
          placeholder="Total Price"
        />
      </div>
    </div>
    
    <button type="submit" class="btn btn-success me-3">Update</button>
    <a class="btn btn-primary me-3 px-4" routerLink="" role="button">Back</a>
    <a class="btn btn-danger px-4" (click)="deleteReservation()" role="button">Delete</a>
  </form>
</div>