<h2 class="mb-4 mt-4">Reservation List</h2>
<hr>
<div *ngIf="reservationList.length">
  <!-- The List <table> -->
  <table class="table table-striped">
    <thead>
      <th scope="col">Reference</th>
      <th scope="col">Booked On</th>
      <th scope="col">Name</th>
      <th scope="col">Check In</th>
      <th scope="col">Check Out</th>
      <th scope="col">Room Type</th>
      <th scope="col">Total Price</th>
    </thead>
    <tbody>
      <tr *ngFor="let reservation of reservationList">
        <td>
          {{ reservation.reference }}
        </td>
        <td>
          {{ reservation.reservationDate }}
        </td>
        <td>
          {{ reservation.guestName }}
        </td>
        <td>
          {{ reservation.checkIn }}
        </td>
        <td>
          {{ reservation.checkOut }}
        </td>
        <td>
          {{ reservation.roomType }}
        </td>
        <td>
          {{ reservation.totalPrice }}
        </td>
      </tr>
      <!-- Total Sales -->
      <tr>
        <td colspan=7></td>
      </tr>
      <tr>
        <td colspan="5"></td>
        <td><strong>Total Sales:</strong></td>
        <td><strong>{{ totalSales }}</strong></td>
      </tr>
    </tbody>
  </table>
</div>